@import 'bootstrap';

.text{
	color:white;
}

.bg-dark{
	background-color: #3a3b3c;
}

.table th, .table td{
	vertical-align: middle;
}

.danger, .success, .alert{
	color:white;
}

.alert-li{
	background-color: red;
}

.success-li{
	
	background-color: green;
}

.danger-li{
	
	background-color: red;
}
